<div class="annotatr">
    <div class="head">
        <span class="title">annotatr</span>
        <div class="controls">
            <select>
                <option>Part of Speech</option>
                <option>Lemma</option>
                <option>Dependency</option>
                <option>Named Entity</option>
                <option>Features</option>
            </select>
        </div>
    </div>
    <div class="body">
        <svg id="svg"></svg>
    </div>
</div>