.annotatr {
  border: .1rem solid darkgrey;
  @include border-top-radius(1rem);
  background: white;
  @include box-shadow(0 .1rem .5rem rgba(0,0,0,0.1));

  .head {
    border-bottom: .1rem solid lightgrey;
    padding: .5rem;
    background: #eee;

    @include display(flex);
    @include flex-direction(row);
    @include justify-content(space-between);

    .title {
      font-weight: bold;
    }
  }

  .body {
    margin: .25rem;

    svg {
      width: 100%;
      height: 100%;

      g.textNode {
        > text {
          @include user-select(none);
          fill: white;
        }

        > rect {
          fill: cornflowerblue;
          stroke-width: .1rem;
          stroke: rgba(0,0,0,0.2);
        }

        &:hover > rect {
          fill: tint(cornflowerblue,20%);
          stroke: rgba(0,0,0,0.1);
        }
      }
    }
  }
}