body > header {
  @include outer-container;

  > * {
    @include row();
  }

  @include media($mobile) {
    @include display(flex);
    @include align-items(flex-end);

    > * {
      @include span-columns(3);
      @include align-items(center);

      &:first-child {
        @include justify-content(space-around !important);
      }
    }
  }

  .bar {
    @include padding(1rem null);
    @include display(flex);
    @include justify-content(center);

    a {
      h1 {
        color: #5badff;
        margin: 0 .5rem;
        font-size: 2em;
        text-shadow: .1rem .1rem .2rem $bodyTextShadow;
      }

      &:hover {
        text-decoration: none;
      }
    }
  }

  nav {
    @include display(flex);
    @include justify-content(center);

    ul {
      a {
        border-radius: .3rem;
        @include display(inline-block);
        @include padding(.5rem);

        &:hover {
          background: shade($bodyBackgroundColor, 10%);
        }
      }
    }
  }
}