section#body {
  p {
    @include span-columns(8);
    @include shift(2);
    @include pad(0 0 1rem 0);

    @include media($mobile) {
      @include pad(0 4rem 1rem 4rem);
      @include span-columns(6);
      @include shift(0);
    }
  }
}