@import "~normalize-scss/sass/normalize";
@import "~bootstrap-sass";
@import "~bourbon/app/assets/stylesheets/bourbon";
@import "~bourbon-neat/app/assets/stylesheets/neat";

@include normalize();

$bodyBackgroundColor: #eee;
$bodyTextColor: #777;
$bodyTextShadow: rgba(108,108,108,0.8);

$mobile: new-breakpoint(max-width 800px 6);

body {
  @include fadeIn(1, 400ms);
  background: $bodyBackgroundColor;
  color: $bodyTextColor;
}

a {
  color: #5badff;
  text-decoration: none;
}